* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  touch-action: auto;
}

body {
  background: linear-gradient(to bottom right, #030825, #000);
  background-repeat: no-repeat;
  min-height: 5900px;
  overflow-x: hidden;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
}

.new-nav-bar-list {
  position: absolute;
  border-radius: 4px;
  padding: 17px 35px;
  box-shadow: 4px 4px 8px #eee;
  width: 200px;
  height: 200px;
  top: 43px;
  right: 59px;
  transition: all 0.3s linear;
  transform: scale(0.002, 0.002);
  display: none;
}
.new-nav-bar-list li a {
  color: #EEE;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}
.new-nav-bar-list li a:hover {
  text-decoration: none;
}
.new-nav-bar-list li a:active {
  text-decoration: none;
}
.new-nav-bar-list li a:focus {
  text-decoration: none;
}
.new-nav-bar-list li a i {
  margin-right: 3px;
}

#scroll-to-top {
  position: fixed;
  padding: 10px;
  font-size: 18px;
  background: #ec3850;
  color: #EEE;
  top: 90%;
  right: 100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0px;
  cursor: pointer;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  width: 100%;
}
.navBar .logo {
  color: #EEE;
  text-transform: uppercase;
}
.navBar .logo span {
  color: #ec3850;
}
.navBar .navBar-list li {
  display: inline-block;
  margin-right: 8px;
  margin-top: 28px;
}
.navBar .navBar-list li > a {
  cursor: pointer;
  color: #EEE;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s linear;
  position: relative;
}
.navBar .navBar-list li > a i {
  margin: 0 5px;
}
.navBar .navBar-list li > a::before {
  content: "";
  background: #EEE;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: all 0.3s linear;
  transform: translatex(-50%) scale(0.002, 0.002);
  opacity: 0;
  position: absolute;
  bottom: -14px;
  left: 50%;
}
.navBar .navBar-list li > a:hover {
  text-decoration: none;
}
.navBar .navBar-list li > a:hover::before {
  transform: translatex(-50%) scale(1, 1);
  opacity: 1;
}
.navBar .responsive-btn {
  height: 50px;
  width: 50px;
  color: #EEE;
  background: unset;
  border: 0px;
  display: none;
  margin-top: 19px;
  font-size: 25px;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .navBar {
    justify-content: space-between;
  }
  .navBar-list {
    display: none;
  }
  .navBar .responsive-btn {
    display: inline-block;
  }
}
.first-section {
  text-align: center;
  margin-top: 170px;
}
.first-section .slide-show {
  text-align: center;
  perspective-origin: center;
  perspective: 4000px;
  position: relative;
}
.first-section .slide-show #left {
  color: #EEE;
  font-size: 50px;
  position: relative;
  cursor: pointer;
  margin-top: 75px;
}
.first-section .slide-show #right {
  color: #EEE;
  font-size: 50px;
  position: relative;
  cursor: pointer;
  margin-top: 75px;
}
.first-section .slide-show .viewing-data {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.first-section .slide-show .viewing-data .intro {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  padding: 8px;
  transition: all 0.4s linear;
  width: 50%;
}
.first-section .slide-show .viewing-data .intro .profImg {
  margin: 0px auto 16px;
  width: 150px;
  height: 150px;
  box-shadow: 2px 2px 6px #333, -2px -2px 6px #333;
  cursor: pointer;
}
.first-section .slide-show .viewing-data .intro .pMsg {
  color: #EEE;
  font-size: 21px;
  font-family: cursive;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.first-section .slide-show .viewing-data .intro .social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.first-section .slide-show .viewing-data .intro .social-icons span {
  color: #EEE;
  font-size: 26px;
  background: #ec3850;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.first-section .slide-show .viewing-data .intro.go-left {
  left: -100%;
}
.first-section .slide-show .viewing-data .brief-about {
  position: absolute;
  right: -150%;
  transition: all 0.4s linear;
  width: 97%;
}
.first-section .slide-show .viewing-data .brief-about.go-center {
  right: 0;
}
.first-section .slide-show .viewing-data .brief-about .brief-header {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  color: #EEE;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  width: 150px;
}
.first-section .slide-show .viewing-data .brief-about .brief-header::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  background: #ec3850;
  height: 2px;
  transition: all 0.4s linear;
}
.first-section .slide-show .viewing-data .brief-about .brief-details {
  padding: 10px 3px;
  width: 455px;
  display: block;
  text-align: left;
  color: #AAA;
  font-size: 17px;
}
.first-section .slide-show .viewing-data .brief-about .downloadCv {
  color: #EEE;
  font-size: 24px;
  background: #ec3850;
  padding: 10px;
  border-radius: 4px;
  display: block;
  width: 300px;
  text-transform: uppercase;
}
.first-section .slide-show .viewing-data .brief-about .downloadCv:hover {
  text-decoration: none;
}
.first-section .slide-show .viewing-data .brief-about .downloadCv:active {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .slide-show #left {
    float: right;
    top: 70px;
    position: absolute !important;
    left: 0;
    margin-top: 0 !important;
    z-index: 3;
  }
  .slide-show #right {
    float: right;
    top: 70px;
    position: absolute !important;
    right: 0;
    margin-top: 0 !important;
    z-index: 3;
  }
  .brief-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .brief-about .brief-header {
    width: 338px !important;
  }
  .brief-about .brief-header::before {
    width: 50% !important;
    left: 0 !important;
    transform: translateX(0) !important;
  }
  .brief-about .brief-details {
    width: 343px !important;
  }
}
.second-section {
  height: 700px;
  padding: 10px;
  position: relative;
  top: -10px;
  background: #EEE;
}
.second-section .about-header {
  width: 300px;
  color: #333;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s linear;
  padding: 0 30px;
  opacity: 0;
}
.second-section .about-header span {
  color: #EEE;
  -webkit-text-stroke-color: #ec3850;
  -webkit-text-stroke-width: 2px;
}
.second-section .about-list-items {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  background: #DDD;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 20px;
  position: relative;
  left: -108%;
  transition: all 0.5s linear;
}
.second-section .about-list-items li {
  font-size: 24px;
  padding: 32px;
  border-bottom: 1px solid #AAA;
  cursor: pointer;
  transition: all 0.4s linear;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.second-section .about-list-items li.active {
  background: #ec3850;
  color: #EEE;
}
.second-section .about-list-items li:hover {
  background: #ec3850;
  color: #EEE;
}
.second-section .right-container {
  padding: 65px 0;
  position: relative;
  right: -200%;
  transition: all 0.5s linear;
}
.second-section .right-container .profile {
  transform: scale3d(0.002, 0.002, 1);
  opacity: 0;
  transition: all 0.4s linear;
}
.second-section .right-container .profile.active {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.second-section .right-container .profile .profile-haeder {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 15px;
}
.second-section .right-container .profile .address-details {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 15px;
  display: block;
}
.second-section .right-container .profile .profile-paragraph {
  margin-bottom: 40px;
  font-size: 18px;
  text-transform: capitalize;
  color: #888;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.second-section .right-container .profile a {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #EEE;
  background: #ec3850;
  padding: 15px 25px;
  letter-spacing: 2px;
  word-wrap: break-word;
  position: relative;
  -webkit-clip-path: polygon(8% 0, 100% 0%, 88% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0%, 88% 100%, 0% 100%);
}
.second-section .right-container .profile a i {
  margin-left: 32px;
}
.second-section .right-container .profile a::before {
  content: "";
  background: #EEE;
  height: 116%;
  width: 2px;
  position: absolute;
  left: 71%;
  top: -3px;
  transform: rotate(26deg);
}
.second-section .right-container .profile a:hover {
  text-decoration: none;
}
.second-section .right-container .profile a:active {
  text-decoration: none;
}
.second-section .right-container .skills {
  transform: scale3d(0.002, 0.002, 1);
  opacity: 0;
  transition: all 0.4s linear;
  display: none;
}
.second-section .right-container .skills.active {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.second-section .right-container .skills .skills-header {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 15px;
}
.second-section .right-container .skills .skills-header span {
  -webkit-text-stroke-color: #ec3850;
  -webkit-text-stroke-width: 2px;
  color: #EEE;
}
.second-section .right-container .skills .skills-container {
  padding: 15px;
}
.second-section .right-container .skills .skills-container div > label {
  font-size: 17px;
  letter-spacing: 2px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}
.second-section .right-container .skills .skills-container div > .containers {
  background: #DDD;
  display: block;
  margin-bottom: 52px;
  border-radius: 4px;
  position: relative;
  padding: 8px 0;
}
.second-section .right-container .skills .skills-container div > .containers .skill-value {
  background: linear-gradient(to right, #333, #ec3850);
  border-radius: 4px;
  transition: all 0.4s linear;
  top: 0;
  left: 0;
  padding: 8px 0;
  position: absolute;
}
.second-section .right-container .skills .skills-container div > .containers .value {
  position: absolute;
  color: #EEE;
  font-weight: bold;
  background: #ec3850;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 13px;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.4s linear;
}
.second-section .right-container .skills .skills-container div > .containers .value.acitvate {
  opacity: 1;
}
.second-section .right-container .education {
  transform: scale3d(0.002, 0.002, 1);
  opacity: 0;
  transition: all 0.4s linear;
  display: none;
}
.second-section .right-container .education.active {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.second-section .right-container .education .education-header {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
  margin-bottom: 15px;
}
.second-section .right-container .education .education-details-one {
  font-size: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 7px 10px;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-wrap: break-word;
  color: #555;
  width: 500px;
}
.second-section .right-container .education .education-details-one::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  width: 2px;
  height: 70%;
  transform: translateY(-50%);
  background: #ec3850;
}
.second-section .right-container .education .education-details-one::after {
  position: absolute;
  content: "2016 - 2020";
  right: 20px;
  bottom: 5px;
  width: 150px;
  text-align: center;
  background: #ec3850;
  color: #FFF;
}
.second-section .right-container .education .education-details-two {
  font-size: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 7px 10px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-wrap: break-word;
  color: #555;
  width: 500px;
  font-weight: bold;
}
.second-section .right-container .education .education-details-two .course-details {
  display: block;
  font-weight: lighter;
}
.second-section .right-container .education .education-details-two::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  width: 2px;
  height: 70%;
  transform: translateY(-50%);
  background: #ec3850;
}
.second-section .right-container .education .education-details-two::after {
  position: absolute;
  content: "2020 - 2021";
  right: 20px;
  top: 5px;
  width: 150px;
  text-align: center;
  background: #ec3850;
  color: #FFF;
}
.second-section .right-container .education .education-details-three {
  font-size: 16px;
  background: #FFF;
  border-radius: 4px;
  padding: 7px 10px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-wrap: break-word;
  color: #555;
  width: 500px;
  font-weight: bold;
}
.second-section .right-container .education .education-details-three .course-details {
  display: block;
  font-weight: lighter;
}
.second-section .right-container .education .education-details-three::before {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  width: 2px;
  height: 70%;
  transform: translateY(-50%);
  background: #ec3850;
}
.second-section .right-container .education .education-details-three::after {
  position: absolute;
  content: "2021 - 2022";
  right: 20px;
  top: 5px;
  width: 150px;
  text-align: center;
  background: #ec3850;
  color: #FFF;
}

.benhom {
  position: relative;
  top: -116px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .about-header {
    text-align: center;
    margin: 0 auto;
  }
  .second-section .about-list-items {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .second-section .about-list-items li {
    padding: 3px 5px;
    width: 100%;
    font-size: 18px !important;
  }
  .second-section .about-list-items li.active {
    border-radius: 0;
  }
  .second-section .about-list-items li:hover {
    border-radius: 0;
  }
  .benhom {
    top: -14px;
  }
  .second-section .right-container .profile {
    text-align: center;
    margin-top: -65px;
  }
  .second-section .right-container .skills {
    margin-top: -65px;
  }
  .second-section .right-container .skills .skills-container {
    padding: 0 15px;
  }
  .second-section .right-container .skills .skills-container .container-row {
    margin: 0 auto;
  }
  .second-section .right-container .skills .skills-container .container-row span.containers {
    margin-bottom: 25px;
  }
  .second-section .right-container .education {
    margin: -65px auto;
  }
  .second-section .right-container .education .education-details-one, .second-section .right-container .education .education-details-two, .second-section .right-container .education .education-details-three {
    margin: 0 auto 20px;
    width: 100%;
    padding: 27px 10px;
  }
  .second-section .right-container .education .education-details-two::after {
    top: unset;
  }
  .second-section .right-container .education .education-details-three::after {
    top: unset;
  }
}
@media (min-width: 501px) and (max-width: 765px) {
  .benhom {
    top: -14px;
  }
}
.services .services-header {
  width: 350px;
  color: #ec3850;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s linear;
  padding: 0 30px;
  opacity: 0;
}
.services .services-header span {
  color: #FFF;
}
.services .services-container {
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: -100%;
  transition: all 0.5s linear;
  transform: scale(0.002, 0.002);
}
.services .services-container .row > {
  justify-content: center;
}
.services .services-container .row > div {
  border: 1px solid #ec3850;
  color: #FFF;
  border-radius: 3px;
  padding: 4px;
  margin: 15px 40px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.services .services-container .row > div span {
  display: block;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
}
.services .services-container .row > div header {
  font-size: 22px;
  margin-bottom: 20px;
  color: #ec3850;
  font-weight: bold;
  text-transform: uppercase;
}
.services .services-container .row > div p {
  font-size: 17px;
  margin-bottom: 15px;
  text-transform: capitalize;
  word-wrap: break-word;
}
.services .services-container .row > div:hover {
  background: #ec3850;
  border: 1px solid #FFF;
  transform: translateY(-10px);
}
.services .services-container .row > div:hover header {
  color: #FFF;
}

@media (min-width: 0px) and (max-width: 1000px) {
  .services-header {
    text-align: center;
    margin: 0 auto 5px;
  }
}
.contact {
  background: #EEE;
  position: relative;
  top: -10px;
  min-height: 700px;
  padding-bottom: 10px;
  overflow: hidden;
}
.contact .contact-header {
  width: 350px;
  color: #333;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s linear;
  padding: 0 30px;
  opacity: 0;
}
.contact .contact-header span {
  color: #EEE;
  -webkit-text-stroke-color: #ec3850;
  -webkit-text-stroke-width: 2px;
}
.contact .emails-container {
  padding-top: 80px;
  position: relative;
  transition: all 0.5s linear;
  top: -300px;
}
.contact .emails-container.startAnimation {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-name: emailsAnimated;
          animation-name: emailsAnimated;
}
.contact .emails-container span:first-of-type {
  position: absolute;
}
.contact .emails-container span:nth-of-type(2) {
  position: absolute;
  left: 38%;
}
.contact .emails-container span:nth-of-type(3) {
  position: absolute;
  left: 71%;
}
.contact .emails-container span:nth-of-type(4) {
  position: absolute;
  top: 190px;
}
.contact .emails-container span:nth-of-type(5) {
  position: absolute;
  top: 190px;
  left: 71%;
}
.contact .emails-container span:nth-of-type(6) {
  position: absolute;
  top: 298px;
}
.contact .emails-container span:nth-of-type(7) {
  position: absolute;
  top: 298px;
  left: 38%;
}
.contact .emails-container span:last-of-type {
  position: absolute;
  top: 298px;
  left: 71%;
}
@-webkit-keyframes emailsAnimated {
  0% {
    top: -300px;
  }
  25% {
    top: -250px;
  }
  50% {
    top: -200px;
  }
  75% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
@keyframes emailsAnimated {
  0% {
    top: -300px;
  }
  25% {
    top: -250px;
  }
  50% {
    top: -200px;
  }
  75% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
.contact .emails-container > h2 {
  position: absolute;
  top: 212%;
  left: 31%;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ec3850;
  text-shadow: 2px 2px 4px #000;
  font-size: 40px;
}
.contact .emails-container > span {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #888;
  background: #ec3850;
  color: #FFF;
  text-align: center;
  position: relative;
  font-size: 30px;
  cursor: pointer;
  -o-box-shadow: 2px 2px 4px #888, -2px -2px 4px #888;
  box-shadow: 2px 2px 4px #888, -2px -2px 4px #888;
}
.contact .emails-container > span i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact .message {
  padding: 20px 40px;
  background: #ec3850;
  border-radius: 4px;
  -o-box-shadow: 2px 2px 4px #888, -2px -2px 4px #888;
  box-shadow: 2px 2px 4px #888, -2px -2px 4px #888;
  transition: all 0.4s linear;
  transform: scale(0.002, 0.002);
}
.contact .message form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contact .message form input, .contact .message form textarea {
  width: 100%;
  background: #FFF;
  border: 0px;
  border-radius: 4px;
  padding: 4px 7px;
  font-size: 18px;
  text-transform: capitalize;
  outline: none;
  resize: none;
}
.contact .message form textarea {
  height: 150px;
}
.contact .message form input[type=submit] {
  background: #DDD;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .contact-header {
    text-align: center;
    margin: 0 auto 5px;
  }
  .emails-container {
    padding-top: 0px !important;
    position: relative !important;
    left: 27px !important;
  }
  .emails-container h2 {
    top: 131px !important;
    left: 24% !important;
  }
  .emails-container span:nth-of-type(4) {
    top: 143px !important;
  }
  .emails-container span:nth-of-type(5) {
    top: 143px !important;
  }
  .message {
    margin-top: 413px !important;
  }
}
@media (min-width: 501px) and (max-width: 1000px) {
  .contact-header {
    text-align: center;
    margin: 0 auto 5px;
  }
  .emails-container {
    padding-top: 0px !important;
    position: relative !important;
    left: 27px !important;
  }
  .emails-container h2 {
    top: 131px !important;
    left: 29% !important;
  }
  .emails-container span:nth-of-type(4) {
    top: 143px !important;
  }
  .emails-container span:nth-of-type(5) {
    top: 143px !important;
  }
  .message {
    margin-top: 413px !important;
  }
}
.projects .projects-header {
  margin-bottom: 50px;
  width: 350px;
  color: #ec3850;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s linear;
  padding: 0 30px;
}
.projects .projects-header span {
  color: #FFF;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 397px 397px 397px;
  gap: 95px 55px;
  justify-content: center;
}
.projects .projects-container > div {
  border-radius: 4px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  cursor: pointer;
}
.projects .projects-container > div:hover img {
  transform: rotate(1deg) scale(0.99);
}
.projects .projects-container > div:last-of-type {
  margin-bottom: 0;
}
.projects .projects-container > div img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s linear;
}
.projects .projects-container > div header {
  color: #ec3850;
  position: absolute;
  font-weight: bold;
  top: 99%;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 4px;
  text-transform: uppercase;
}
.projects .projects-container > div div.top {
  color: #ec3850;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-size: 31px;
}
.projects .projects-container > div div.rate-container {
  color: #EEE;
  position: absolute;
  top: 107%;
  width: 100%;
  font-size: 31px;
  text-align: center;
}
.projects .projects-container > div div.rate-container span {
  cursor: pointer;
  transition: all 0.3s linear;
}
.projects .projects-container > div div.rate-container span:hover {
  color: #FF0;
}

@media (min-width: 0px) and (max-width: 500px) {
  .projects-header {
    text-align: center;
    margin: 0 auto;
  }
  .projects-container {
    grid-template-columns: 200px !important;
    grid-template-rows: 397px 397px 397px 397px 397px 397px !important;
    gap: 10px 50px;
    justify-content: center;
    margin-top: -50px;
  }
  .projects-container > div header {
    font-size: 20px !important;
    top: 50% !important;
  }
  .projects-container > div:last-of-type {
    display: none;
  }
  .projects-container .rate-container {
    top: 8% !important;
    z-index: 2;
  }
}
/* @media (min-width:501px) AND (max-width:1000px){
    .projects-header{
        text-align: center;
        margin: 0 auto 5px;
    }
    .projects-container{
        grid-template-columns: 200px 200px !important;
        grid-template-rows: 397px 397px 397px;
        gap: 10px 30px;
        justify-content: center;
        & > {
            div{
                & header{
                    font-size:20px !important
                }
                &:last-of-type{
                    display: none;;
                }
            }
        }
    }
} *//*# sourceMappingURL=main.css.map */