@use "./mixins" as *;
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    list-style:none;
    text-decoration:none;
}
html{
    scroll-behavior:smooth;
    touch-action: auto;
}
body{
    background:linear-gradient(to bottom right, #030825, #000);
    background-repeat: no-repeat;
    min-height: 5900px;
    overflow-x: hidden;
}
img{
    width:100px;
    height:100px;
    border-radius:50%;
    display:block;
}

.new-nav-bar-list{
    position: absolute;
    border-radius: 4px;
    padding: 17px 35px;
    box-shadow: 4px 4px 8px #eee;
    width: 200px;
    height: 200px;
    top: 43px;
    right: 59px;
    transition: all .3s linear;
    transform: scale(.002,0.002);
    display: none;
    & li{
        & a{
            color:#EEE;
            font-size:20px;
            @include upperCaseText;
            text-align:left;
            display: block;
            margin-bottom: 5px;
            cursor:pointer;
            &:hover{
                text-decoration: none;;
            }
            &:active{
                text-decoration: none;;
            }
            &:focus{
                text-decoration: none;
            }
            & i {
                margin-right: 3px;;
            }
        }
        
    }
}
#scroll-to-top{
    position: fixed;
    padding: 10px;
    font-size: 18px;
    background: #ec3850;
    color: #EEE;
    top: 90%;
    right: 100px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0px;
    cursor:pointer;
}